# Cloudflare Worker のエンドポイント URL
VITE_WORKER_URL=https://ekuikidev.dhidaka2000.workers.dev

# Firebase 設定（Worker の getFirebaseConfig からも取得できるが Vite ビルド時に埋め込む場合はここに記載）
VITE_FIREBASE_APIKEY=AIzaSyBCib4rAXfXO_6nAiEO-VutN-FytgdnuvA
VITE_FIREBASE_AUTH_DOMAIN=ekuikidev.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ekuikidev
